<ion-header >
  <ion-toolbar color="dark">
    <ion-title class="titulo" >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYjBm_a1jptH89z7AqXc_NF_ZWNKjQ0FDsKA&usqp=CAU" alt="">
   <ion-list>
    <ion-item color="medium">
      <ion-input  placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item color="medium">     
      <ion-input placeholder="Senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="12">   
      <ion-button color="tertiary" shape="round" expand="block">Entrar</ion-button>    
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">    
      <ion-button color="tertiary" shape="round" expand="full">Registrar</ion-button>
      </ion-col>
  </ion-row>
</ion-content>