<ion-header >
  <ion-toolbar color="dark">
    <ion-title class="titulo" >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">


      <ion-img class="dog" src="https://img.freepik.com/vetores-gratis/cachorro-fofo-cachorro-mordida-bola-ilustracao-vetorial-icone-dos-desenhos-animados-conceito-de-icone-do-esporte-animal-isolado-vetor-premium-estilo-flat-cartoon_138676-3549.jpg?w=2000"></ion-img>



    <ion-list class="login">

      <ion-item color="medium">
        <ion-input  placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item color="medium">
        <ion-input placeholder="Senha"></ion-input>
      </ion-item>


      <ion-row>
        <ion-col size="12">
          <ion-button color="tertiary" shape="round" expand="block">Entrar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="tertiary"  shape="round" expand="block">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>

</ion-content>
